if languageCode == 'SPA'
  p #{name}:

  p Recibimos una solicitud para restablecer la contraseña de su cuenta.

  p Si usted solicitó el restablecimiento para #{email}, haga clic en el botón a continuación. Si no realizó esta solicitud, haga caso omiso de este correo electrónico.

  a(href="#{linkURL}", style="text-decoration:none;border-style:none;border:0;padding:0;margin:0;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;line-height:22px;font-weight:500;color:#ffffff;text-align:center;text-decoration:none;border-radius:4px;padding:11px 30px;border:1px solid #7dc038;background-color:#7dc038;display:inline-block", target="_blank")
    strong Restablecer contraseña

  p Si el enlace no funciona, también puede copiar el enlace a continuación y pegarlo en el buscador de su navegador:

  p #{linkURL}

  p Tenga en cuenta que el enlace expirará en 15 minutos.

  hr
  small Este es un correo electrónico generado por el sistema, por favor, no responda a este mensaje.

else if languageCode === 'ZHS'
  p #{name}:

  p 我们收到了您的账户重置密码请求。

  p 如果您请求为电子邮件 #{email} 所对应的账户重置密码，请单击下面的按钮。如果您未作出此请求，请忽略本电子邮件。

  a(href="#{linkURL}", style="text-decoration:none;border-style:none;border:0;padding:0;margin:0;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;line-height:22px;font-weight:500;color:#ffffff;text-align:center;text-decoration:none;border-radius:4px;padding:11px 30px;border:1px solid #7dc038;background-color:#7dc038;display:inline-block", target="_blank")
    strong 重置密码

  p 如果链接不起作用，您也可以复制下面的链接并粘贴到您的浏览器中：

  p #{linkURL}

  p 请注意，该链接将在 15 分钟后过期。

  hr
  small 这是系统生成的电子邮件，请勿回复。

else if languageCode === 'ZHT'
  p #{name},

  p 我們收到重設您帳號密碼的請求。

  p 如果您確有請求對 #{email} 進行重設，請按一下以下按鈕。如果您未曾提出該請求，請忽略此電子郵件。

  a(href="#{linkURL}", style="text-decoration:none;border-style:none;border:0;padding:0;margin:0;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;line-height:22px;font-weight:500;color:#ffffff;text-align:center;text-decoration:none;border-radius:4px;padding:11px 30px;border:1px solid #7dc038;background-color:#7dc038;display:inline-block", target="_blank")
    strong 重設密碼

  p 若連結無效，您亦可複製以下連結，並將其貼至您的瀏覽器：

  p #{linkURL}

  p 請注意，連結將於 15 分鐘後過期。

  hr
  small 此為系統產生的電子郵件，請勿回覆

else if languageCode === 'JPN'
  p #{name},

  p アカウントのパスワードをリセットするリクエストを受け取りました。

  p #{email} のリセットをリクエストした場合は、以下のボタンをクリックしてください。このリクエストをしていない場合は、この電子メールを無視してください。

  a(href="#{linkURL}", style="text-decoration:none;border-style:none;border:0;padding:0;margin:0;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;line-height:22px;font-weight:500;color:#ffffff;text-align:center;text-decoration:none;border-radius:4px;padding:11px 30px;border:1px solid #7dc038;background-color:#7dc038;display:inline-block", target="_blank")
    strong パスワードをリセット

  p リンクがうまく機能しない場合は、以下のリンクをブラウザーにコピー＆ペーストすることもできます。

  p #{linkURL}

  p リンクは15分で無効となります。

  hr
  small これはシステムより配信された電子メールですので、返信しないようお願いいたします。

else if languageCode === 'KOR'
  p #{name},

  p 귀하의 계정에 대한 비밀번호 재설정 요청을 받았습니다.

  p #{email}에 대해 재설정을 요청한 경우, 아래의 버튼을 클릭하시기 바랍니다. 이 요청을 하지 않은 경우, 이 이메일을 무시해주십시오.

  a(href="#{linkURL}", style="text-decoration:none;border-style:none;border:0;padding:0;margin:0;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;line-height:22px;font-weight:500;color:#ffffff;text-align:center;text-decoration:none;border-radius:4px;padding:11px 30px;border:1px solid #7dc038;background-color:#7dc038;display:inline-block", target="_blank")
    strong 비밀번호 재설정

  p 링크가 열리지 않을 경우, 아래의 링크를 복사하여 브라우저에 불여넣기 하십시오.

  p #{linkURL}

  p 링크는 15분 후에 만료된다는 점을 유의해주시기 바랍니다.

  hr
  small 시스템에서 자동 생성된 이메일입니다. 이 메시지에 회신하지 마십시오.

else if languageCode === 'IT'
  p #{name},
  p Abbiamo ricevuto la richiesta di reimpostare la password del tuo account.
  p Se sei stato tu a fare questa richiesta per #{email}, fai clic sul pulsante riportato di seguito. Se non sei stato tu a fare la richiesta, ignora pure questa e-mail.
  a(href="#{linkURL}", style="text-decoration:none;border-style:none;border:0;padding:0;margin:0;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;line-height:22px;font-weight:500;color:#ffffff;text-align:center;text-decoration:none;border-radius:4px;padding:11px 30px;border:1px solid #7dc038;background-color:#7dc038;display:inline-block", target="_blank")
    strong Reimposta password
  p Se il link non funziona, puoi anche copiarlo e incollarlo nel tuo browser:
  p #{linkURL}
  p Ricorda che il link scade tra 15 minuti.
  hr
  small Questa e-mail generata dal sistema: non rispondere

else
  p #{name},

  p We received a request to reset the password for your account.

  p If you requested a reset for #{email}, click the button below. If you didn’t make this request, please ignore this email.

  a(href="#{linkURL}", style="text-decoration:none;border-style:none;border:0;padding:0;margin:0;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;line-height:22px;font-weight:500;color:#ffffff;text-align:center;text-decoration:none;border-radius:4px;padding:11px 30px;border:1px solid #7dc038;background-color:#7dc038;display:inline-block", target="_blank")
    strong Reset password

  p If the link does not work, you may also copy the link below and paste on your browser:

  p #{linkURL}

  p Please note that the link will expire in 15 minutes.

  hr
  small This is a system generated email, please do not reply
